<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Realm - Goods</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Bluth Company">
    
      <link rel="shortcut icon" href="__PUBLIC__/admin/assets/ico/favicon.html">
    <link href="__PUBLIC__/admin/assets/css/bootstrap.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/assets/css/theme.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/assets/css/alertify.css" rel="stylesheet">
    <link rel="Favicon Icon" href="favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
   <include file="./Public/menu.html"/>
      <!-- Main window -->
          <div class="main_container" id="goods_page">
    
            <div class="row-fluid">

              <h2 class="heading" style="text-align: center">
                  二维码信息管理
              </h2>
            </div> <!-- /row-fluid -->
    
            
            
               
              
    
            <div class="row-fluid">
              <div class="widget widget-padding span12">
                <div class="widget-header">
                  <i class="icon-group"></i>
                  <h5>二维码信息列表</h5>
                  <div class="widget-buttons">
                      <a href="#" data-title="Add User" data-toggle="modal" data-target="#example_modal"><i class="icon-plus"></i></a>
                      <a href="#" data-title="Collapse" data-collapsed="false" class="collapse"><i class="icon-chevron-up"></i></a>
                  </div>
                </div>  
                <div class="widget-body">
                  <table align="center" width="100%" border=1 class="table table-hover"> 
 <tr>
 
   <th>二维码</th>   
   <th>发布者</th>
   <th>物名或人名</th>
   <th>联系人姓名</th>
   <th>联系人电话</th>
   <th>联系人邮箱</th>
   <th>备注</th> 
   <th>操作</th>
  
 </tr>

<volist name="goods" id="vo">
<tr>
<td>
<img src="__PUBLIC__/Uploads/qrcode/{$vo.qrpath}"style="height: 30px"></td>
<td>{$vo.user_id}
</td>
<td>{$vo.goods_name}</td>
<td>{$vo.user_name}</td>
<td>{$vo.telephone}</td>
<td>{$vo.email}</td>
<td>{$vo.note}</td>
<td>
  <a  href="delGood/id/{$vo.id}">
  删除
</a>

</td>

</tr>
</volist>
</table>
                </div> <!-- /widget-body -->
              </div> <!-- /widget -->
            </div> <!-- /row-fluid -->
    
          </div>
          <!-- /Main window -->
    ]
    </div><!--/.fluid-container-->
    </div><!-- wrap ends-->

    <!-- Example Modal -->
    <div id="example_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Add user/employee</h3>
      </div>
      <div class="modal-body">
        <p>dfsafsfdaf</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
      </div>
    </div>  

    <script type="text/javascript" src="__PUBLIC__/admin/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC_ta_/admin/assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/assets/js/raphael-min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/assets/js/bootstrap.js"></script>
    <script type="text/javascript" src='__PUBLIC__/admin/assets/js/sparkline.js'></script>
    <script type="text/javascript" src='__PUBLIC__/admin/assets/js/morris.min.js'></script>
    <script type="text/javascript" src="__PUBLIC__/admin/assets/js/jquery.dataTables.min.js"></script>   
    <script type="text/javascript" src="__PUBLIC__/admin/assets/js/jquery.masonry.min.js"></script>   
    <script type="text/javascript" src="__PUBLIC__/admin/assets/js/jquery.imagesloaded.min.js"></script>   
    <script type="text/javascript" src="__PUBLIC__/admin/assets/js/jquery.facybox.js"></script>   
    <script type="text/javascript" src="__PUBLIC__/admin/assets/js/jquery.alertify.min.js"></script> 
    <script type="text/javascript" src="__PUBLIC__/admin/assets/js/jquery.knob.js"></script>
    <script type='text/javascript' src='__PUBLIC__/admin/assets/js/fullcalendar.min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/admin/assets/js/jquery.gritter.min.js'></script>
    <script type="text/javascript" src="__PUBLIC__/admin/assets/js/realm.js"></script>
  </body>
</html>
