<!DOCTYPE html>
<html>
<head>
    <include file="Public/title" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <include file="Public/head" />
    <style type="text/css" media="screen">
        .fenye{FONT-SIZE: 17px; COLOR: #777; FONT-FAMILY: Tahoma, Arial, Helvetica, Sans-serif;display: inline-block; margin-left: 40%;}
        .fenye a{PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px;
 MARGIN: 2px; COLOR: #999; PADDING-TOP: 2px; TEXT-DECORATION: none }
        .fenye a:hover{COLOR: #fff; BACKGROUND-COLOR: #999; }
        .current{color:#3c3c3c; font-size:19px;}
    </style>
    <script>
          function all_checked() {
            var all_check = document.getElementById("allCheck");
              var check=document.getElementsByName("Check[]");
                if (all_check.checked) {
                    for(j=0;j<check.length;j++){
                        check[j].checked=1;
                    }
                } else {
                    for(j=0;j<check.length;j++){
                        check[j].checked=0;
                    }
                }
             }
          // function a_checked() {
          //   var check=document.getElementById("goods_name_1");
          //   document.getElementById("goods_name").value = check;

          // }
          function printCode() {
          
              var check=document.getElementsByName("Check[]");
              var flag=0;
              for(j=0;j<check.length;j++){
                  if(check[j].checked)
                  {
                      flag=1;   
                  }
              }
              if(flag==0)
              {
                  return false;
              }
              else
              {
                  location.replace('printQrcode');
                  return true;
              }
              
          }
    </script>
</head>
<body>

<div class="modal-shiftfix" id="all">
    <div id="new_all" class="container center-block" style="display: none;">
        <div align="center" style="margin-bottom: 20px">
            <button class="btn btn-default " onclick="back()" id="back">返回</button>
            <button class="btn btn-default " onclick="print()">打印</button>
        </div>
    </div>
    <!-- Navigation -->
    <div class="navbar navbar-fixed-top scroll-hide">
        <div class="container-fluid top-bar">

            <button class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>&nbsp;
            <a href=""><img   width="150px" id="logo_header" alt="80x80" src="__APP__/Public/assets_h/images/diuba_logo.png"></a>
        </div>
        <div class="container-fluid main-nav clearfix">
            <div class="nav-collapse " style="padding-left: 20px">
                <ul class="nav" >
                    <li >
                        <a  style="font-family: SimHei;font-size: large" href="{:U('Index/index')}">首页</a>
                    </li>
                    <li>
                        <a class="current " style="font-family: SimHei;font-size: large" href="#">个人物品</a>
                    </li>
                    <li>
                        <a style="font-family: SimHei;font-size: large" href="{:U('Goods/query_release')}">查询启示</a>
                    </li>
                    <li>
                        <a  style="font-family: SimHei;font-size: large" href="{:U('Goods/release')}">发布启示</a>
                    </li>
                    <li>
                        <a style="font-family: SimHei;font-size: large" href="{:U('Users/userinfo')}">用户信息</a>
                    </li>
                    
                </ul>

            </div>
        </div>
    </div>


    <br>
    <div class="container-fluid main-content"  style="min-height:560px">
        <div class="col-md-3  col-xs-12 col-sm-6 col-sm-offset-3 col-md-offset-4 col-xs-offset-2" >
            <form  method="post"  class="form-horizontal" action="{:U(goodsadd)}"  enctype="multipart/form-data" onsubmit="return check();" >

                <input class="form-control" placeholder="联系人" type="text" id="username"   name="username" value="{$list.aliasname}" required>
                <br>
                <input class="form-control" placeholder="物品名" type="text"  id="goods_name" name="goods_name" required>
                <br>
                <input class="form-control" placeholder="联系电话" type="text" id="telephone"   name="telephone" value="{$list.telephone}">
                <br>
                <input class="form-control" placeholder="联系邮箱" type="text" id="email"   name="email" value="{$list.email}" >
                <br>
                <input class="form-control" placeholder="备注" type="text" id="note" name="note" required>
                <br>
                
                <input class="btn btn-block btn-info "  type="submit" value="生成二维码">
            </form>
            
        </div>
        <form  method="post"  class="form-horizontal" action="{:U(printQrcode)}"  enctype="multipart/form-data" onsubmit="return printCode();" >
            <div class="col-md-3  col-xs-12 col-sm-6 col-sm-offset-3 col-md-offset-4 col-xs-offset-2" >
                <input class="btn btn-block btn-warning "  type="submit" value="自行打印">
                <input class="btn btn-block btn-danger "  type="submit" value="淘宝打印">
            </div>
        <div class="col-md-10  col-xs-12 col-sm-6 col-sm-offset-3 col-md-offset-1 col-xs-offset-2 " >
           
            <table id="qrcode" class="table  table-responsive">
                <tr>
                    <th>
                        <label><input  class="task-input" type="checkbox" id="allCheck" onchange="all_checked()"><span>全选</span></label>
                    </th>
                    <th>二维码</th>
                    <th>物品名称</th>
                    <th>二维码信息</th>
                    <th>操作</th>
                </tr>
                <!-- js方法批量打印二维码-->
                <volist name="qrcodeList" id="vo" key="k">
                    <tr class="QRCodePrint">
                        <td>
                            <label><input  class="task-input" type="checkbox"  name="Check[]" value="{$vo.id}"  
                            onchange="a_checked()"><span></span></label>
                        
                        </td>
                        <td><img id="a" src="__PUBLIC__/Uploads/qrcode/{$vo.qrpath}" width="80"></td>
                        <td >
                            <p id="goods_name_1">{$vo.goods_name}</p>
                        </td>
                        <td>
                            <p >
                                名字：{$vo.goods_name}<br>
                                联系人：{$vo.username}<br>
                                联系电话:{$vo.telephone}<br>
                                邮箱:{$vo.email}<br>
                                备注：{$vo.note}
                        </td>
                        <td><a href="delqrcode/id/{$vo.id}" onclick="return confirm('你确定要删除吗？')"><i class="icon-remove"></i>删除</a></li>
                        </td>
                    </tr>
                </volist>
                
            </table>
            </form>
            
        </div>
        <div class="jogger col-md-3 fenye" >
        <p align="center">{$link}</p>
    </div>
    </div>

    <br>
   
    <include file="Public/footer" />
</div>

<!--<include file="Public/footer" />-->
</body>

</html>